DevLog Pipeline.json
{
  "name": "DevLog Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-push",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "89e50c94-e483-460c-b36e-ee4275b1da73",
      "name": "Webhook",
      "webhookId": "754c58a1-b9e7-40f5-a523-2b560d3cb751"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.all()[0].json.body;\n\nconst headCommit = payload.head_commit;\nconst repositoryName = payload.repository.name;\n\nif (!headCommit) {\n  return [];\n}\n\nif (!headCommit.message.startsWith(\"[Milestone]\")) {\n  return [];\n}\n\nreturn {\n  commit_hash: headCommit.id,\n  message: headCommit.message,\n  project_name: repositoryName\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "90b2cda4-25e4-4757-9251-22062ac74f53",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    \"contents\": [{\n      \"parts\": [{\n        \"text\": \"Act as an elite Enterprise Software Architect. I will provide you with a git diff. Analyze the code changes and write a brief, professional release note for a changelog. Requirements: Language must be English. Tone: Engineering, concise, and business-value focused (like 'bAIplot.com Platform Inception'). No technical jargon like 'deleted line 5'. Maximum 2-3 sentences. \\n\\nGit Diff to analyze:\\n\" + $json.data\n      }]\n    }]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "a498360c-8ac4-4c6d-bfad-02c210550677",
      "name": "Google_Gemini",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "Nuv8WsZ0fzSbquyG",
          "name": "Gemini_Google"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Darek027/{{ $json.project_name }}/commits/{{ $json.commit_hash }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3.diff"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "f2865107-9197-40ac-b60f-9bf4a3d48f32",
      "name": "Github",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "QwH7NdOv6h0IJLQD",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "tableId": "=devlogs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "commit_hash",
              "fieldValue": "={{ $('Code in JavaScript').item.json.commit_hash }}"
            },
            {
              "fieldId": "project_name",
              "fieldValue": "={{ $('Code in JavaScript').item.json.project_name }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.candidates[0].content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "f692f991-3259-4748-845d-112a136f7d60",
      "name": "Supabase_Entry",
      "credentials": {
        "supabaseApi": {
          "id": "UzJCRFn8r4m8X9uU",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_Gemini": {
      "main": [
        [
          {
            "node": "Supabase_Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github": {
      "main": [
        [
          {
            "node": "Google_Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "7b813e0f-c1b7-417f-b014-e1e101f86b10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8aa1b8f81d1977a3828eabdbe14920035c3addb3a6997c0885fec69b3bf8bdfb"
  },
  "id": "6py1WRdPxr1lEQ52",
  "tags": []
}