DevLog Pipeline.json
{
  "name": "DevLog Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-push",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4e3bc86c-b4dc-484d-bd67-663f6d1aece1",
      "name": "Webhook",
      "webhookId": "754c58a1-b9e7-40f5-a523-2b560d3cb751"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.all()[0].json.body;\nconst headCommit = payload.head_commit;\nconst repositoryName = payload.repository.name;\n\nif (!headCommit) {\n  return [];\n}\n\nif (!headCommit.message.startsWith(\"[Milestone]\")) {\n  return [];\n}\n\nreturn {\n  commit_hash: headCommit.id,\n  message: headCommit.message,\n  project_name: repositoryName\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "cb6bc008-4ad0-4d2f-8cc2-11acb20372e8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    \"contents\": [{\n      \"parts\": [{\n        \"text\": \"Act as an elite Enterprise Software Architect. I will provide you with a git diff. Analyze the code changes and write a brief, professional release note for a changelog. Requirements: Language must be English. Tone: Engineering, concise, and business-value focused (like 'bAIplot.com Platform Inception'). No technical jargon like 'deleted line 5'. Maximum 2-3 sentences. \\n\\nGit Diff to analyze:\\n\" + $json.data\n      }]\n    }]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "ce663b2e-f669-4439-adc9-a3f9a57ec8d8",
      "name": "Google_Gemini",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "3ItB9QvUCLWwIQCs",
          "name": "Google Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Darek027/{{ $json.project_name }}/commits/{{ $json.commit_hash }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3.diff"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "4fbab5c8-a465-4989-987b-ee31a659623c",
      "name": "Github",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "xctnWHEtG83qeEbU",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "tableId": "=devlogs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "commit_hash",
              "fieldValue": "={{ $('Code in JavaScript').item.json.commit_hash }}"
            },
            {
              "fieldId": "project_name",
              "fieldValue": "={{ $('Code in JavaScript').item.json.project_name }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.candidates[0].content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "53c229f2-1137-43a3-b18c-3ae29a466100",
      "name": "Supabase_Entry",
      "credentials": {
        "supabaseApi": {
          "id": "8O9ZdtqjPqLDTmgD",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_Gemini": {
      "main": [
        [
          {
            "node": "Supabase_Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github": {
      "main": [
        [
          {
            "node": "Google_Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fbc4333b-4169-41ec-a429-615c417b0b3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "758919c32b34f9786e1accdb755ce7bfbc1b60f9bd5e8d1249e038034fd5eacd"
  },
  "id": "WHLWt48WYSo65pXF",
  "tags": []
}